[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
[submodule "src/turtlebot_interactions"]
	path = src/turtlebot_interactions
	url = https://github.com/turtlebot/turtlebot_interactions.git
[submodule "src/turtlebot_simulator"]
	path = src/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator.git
[submodule "src/turtlebot"]
	path = src/turtlebot
	url = https://github.com/turtlebot/turtlebot.git
